@font-face {
    font-family: AvantGardeDemiBt;
    src: url("../fonts/AvantGardeDemiBT.ttf");
}
@font-face {
    font-family: Blue-Paint;
    src: url("../fonts/BLUE\ PAINT.otf");
}
@font-face {
    font-family: Dunkin-sans-italic;
    src: url("../fonts/Dunkin\ Sans\ Italic.otf");
}
@font-face {
    font-family: Dukin-sans;
    src: url("../fonts/Dunkin\ Sans.otf");
}
@font-face {
    font-family: Dukin;
    src: url("../fonts/Dunkin.otf");
}
@font-face {
    font-family: GratySans;
    src: url("../fonts/GratySans.otf");
}
@font-face {
    font-family: Monserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: Owl-Cute;
    src: url("../fonts/Owl-Cute.ttf");
}
@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-regular.ttf");
}